.CDialog .MuiPaper-rounded {
  
  .dialogContent {
    height: 100%;
    overflow: scroll;
  }
}

.manage {

  .add {
    position: fixed;
    color: white !important;
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
    right: 40px;
    bottom: 30px;
  }
}