.search-marker {
  background: url('../../assets/images/marker.png') center center / cover;
  width: 64px;
  height: 80px;
  transform: translateY(-50%);
  text-align: center;
  padding: 16px 0;

  & .num {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: $primary;
  }

  & .name {
    color: #fff;
    text-shadow:
    -1px -1px 0 $primary,
    1px -1px 0 $primary,
    -1px 1px 0 $primary,
    1px 1px 0 $primary;  
  }
}